<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'generateCard/login.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <title>NewEternalLife</title>
    </head>
    <body>
        <div class="form-container">
            <div class="cover-deco">
                <img src="{% static 'generateCard/images/eltlogo.png' %}"/>
            </div>
            <div class="cover-form">

                <div class="form-box">
                    <div class="header">
                        <h1>Sign in.</h1>
                        <small>with your EternalLifeToken Account</small>

                    </div>

                    <form method="POST" class="form-css" action="{% url 'loginAuth' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email" style="width: 100%;"/>
                        <br/>
                        <input type="password" name="password" placeholder="Password" style="width: 100%;"/>
                        <input type="submit" class="submit-btn" style="width: 100%;"/>
                    </form>
                    <br/>
                    <br/>
                    <span>Don't have an account? <a href="{% url 'singup' %}">Sign up here</a></span>
                </div>
            </div>
        </div>

    </body>
</html>