<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <link rel="stylesheet" href="{% static 'generateCard/login.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <title>NewEternalLife</title>
    </head>
    <body>
        <div class="form-container">
            <div class="cover-deco">
                <img src="{% static 'generateCard/images/nelcard.png' %}"/>

            </div>
            <div class="cover-form">

                <div class="form-box">
                    <div class="header">
                        <h1>Sign up.</h1>
                        <small>Create New EternalLifeToken Account</small>

                    </div>
                    <form name ="signupform" class="form-css" method="POST" action="{% url 'register' %}" onsubmit="return validateMe()">
                        {% csrf_token %}
                        <input type="email" required name="email" placeholder="Email"/>
                        
                        <input type="password" required name="password" placeholder="New Password"/>
                        
                        <input type="password" required name="confpassword" placeholder="Confirm Password"/>
                        <br/>
                        <input type="submit" value="Signup"  class="submit-btn">
                        <div class="remember-me">
                            <div>
                                <span>Already have an account?</span>
                            </div>
                            <a href="{% url 'index' %}">Sign in here.</a>
                        </div>
                        {% if not status%}
                        <div class="auth-alert">
                            <span>You need to register at our ICO page!.</span>
                            <a href="https://eternallifetoken.net/public/login" target="_blank">ICO</a>
                        </div>
                        {% endif %}
                        {% if user%}
                        <div class="auth-alert">
                            <span>Account already exsist. please sign in.</span>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    </body>
    <script>
        function validateMe(){
            let f1 = document.forms['signupform']['password'].value;
            let f2 = document.forms['signupform']['confpassword'].value;
            if(f1 != f2){
                alert("Password doesnot matched!");
                return false;
            }
        }
    </script>
</html>