<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'generateCard/login.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <title>NewEternalLife</title>
    </head>
    <body>
        <div class="form-container">
            <div class="cover-deco">
                <img src="{% static 'generateCard/images/eltlogo.png' %}"/>

            </div>
            <div class="cover-form">

                <div class="form-box">
                    <div class="header">
                        <h1>Sign up.</h1>
                        <small>Create New EternalLifeToken Account</small>

                    </div>
                    <form class="form-css" method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email" style="width: 100%;"/>
                        
                        <input type="password" name="password" placeholder="New Password" style="width: 100%;"/>
                        
                        <input type="password" name="confpassword" placeholder="Confirm Password" style="width: 100%;"/>
                        <br/>
                        <input type="submit" value="Signup" class="submit-btn" style="width: 100%;"/>
                    </form>


                </div>
            </div>
        </div>

    </body>
</html>
            <div class="form">

            </div>
        </div>

    </body>
</html>