
    body{
        background-color: rgb(242, 242, 242);
        margin: 0px;
        padding: 50px;
    }
    .header h1{
        font-size: 1.1em;
    }

    a{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: last baseline;
        align-items: left;
        text-decoration: none;
    }

    
    .container{
        display: grid;
        
        
        width: 100%;
        grid-template-columns: 10% 90%;
        grid-template-areas: 
        "sb hd"
        "sb ct"
        "sb ct"
        "sb ct"
        "ft ft";
    }

    .sidebar{
        border: 1px solid rgb(242, 242, 242);
        grid-area: sb;
        background-color: lavender;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 10px;
        font-family: 'Noto Sans', sans-serif;
        color: white;
    }
    .sidebar h3{
        margin: 0;
        padding: 10px;
        background-color: darkblue;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .sidebar a{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: last baseline;
        align-items: left;
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: bold;
        align-items: center;

    }
    .sidebar a:hover{
        border-left: 5px solid darkolivegreen;
    }


    .active{
        border-left: 5px solid darkolivegreen;
    }
    .header{
        border: 1px solid rgb(242, 242, 242);
        display: flex;
        flex-direction: row;
        padding: 10px;
        grid-area: hd;
        justify-content: flex-start;
        font-family: 'Noto Sans', sans-serif;
        background-color: rgb(255, 255, 255);
        padding-left: 21px;
        align-items: center;
    }

    .header form{
        margin-top: 13.36px;
    }
    .content{
        display: flex;
        flex-direction: column;
        grid-area: ct;
        border: 1px solid rgb(242, 242, 242);
        background-color: rgb(245, 245, 245);
        font-family: 'Noto Sans', sans-serif;
    }
    .footer{
        grid-area: ft;
    }

    .slides{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 20px;
        background-color: rgb(255, 255, 255);

    }
    .gap{
        margin: 10px;
    }

    #totalBalance{
        display: flex;
        flex-direction: column;
    }
    #tbalance{
        font-size: 20px;
        margin: 10px;
    }
    .userDetails{
        display: flex;
        flex-direction: row;
    }
    .ucard{
        display: flex;
        flex-direction: column;
        margin: 5px;
        font-size: 14px;
    }

    .ucard span{
        color: #808080;
        font-weight: bold;
        font-size: 12px;

    }

    .ucard h3{
        font-weight: lighter;
    }
    .debitcardContainer{
        display: flex;
        flex-direction: column;
    }

    .debitcardBox{
        display: flex;
        flex-direction: row-reverse;
        background-color: ghostwhite;
        margin: 5px;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        
    }

    .debitCardDetail-wraper{
        display: flex;
        
        padding: 10px;
        padding-left: 100px;
        flex-direction: column;
        margin-left: 20px;
        border-radius: 20px;
        justify-content: center;
    }

    .gtn{
        display: flex;
        flex-direction: row-reverse;
        margin: 5px;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
   
    }

    

    .debitcards{
        height: 200px;
        width: 320px;
        
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .usd-visa{
        background-image: url('images/visa_usd.png');
    }
    .usd-master{
        background-image: url('images/master_usd.png');
    }
    .eur-visa{
        background-image: url('images/visa_eur.png');
    }
    .eur-master{
        background-image: url('images/master_eur.png');
    }
    .printCard{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-right: 50px;
        color: hsl(40, 100%, 70%) !important;
        letter-spacing: 1.5px;        ;
    }
    .printCard span{
        color: hsl(40, 100%, 70%) !important; 
    }

    


    .cheaders{
        display: flex;
        flex-direction: row;
        align-items:center;
        font-size: 14px;
        margin: 5px;
        justify-content: space-between;
    }

    .cheader-wrap{
        display: flex;
        flex-direction: row;
    }
    .cheaders .itm{
        margin: 5px;
    }

    .cardfunctions{
        padding: 8px;

        color: black;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.3px;
        align-items: center;
        background-color: none;
    }

    .cardfunctions span{
        margin-right: 5px;
        
    }
    .gen{
        border: 1px solid rgb(102, 102, 102);
        border-radius: 20px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; 
        z-index: 1; /* Sit on top */
        padding: auto; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: -webkit-fill-available;
         /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        justify-content: center;
        align-items: center;    
    }

        /* Modal Content */
        .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
        height: 600px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        }

        .modal-topup{
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            margin: 20px;
            display: flex;
            justify-content: space-between;

        }
        .modal-cover{
            background-color: lavender;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: inherit;
            margin-right: 35px;

        }
        .modal-cover h1{
            font-weight: lighter;
            font-family: Noto Sans, sans-serif;
        }
        .modal-cover img{
            height: 200px;
            width: 200px;
        }

        /* The Close Button */
        .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        }

        .form-css{
            display: flex;
            flex-direction: column;
            font-family: 'Noto Sans', sans-serif;

        }

        .form-css label{
            font-size: 12px;
            color: #495463;
        }

        .form-css input{
            padding: 5px;
            background-color: none;
            outline: 0;
            border-radius: 5px;
            border: 1px solid lavender;


        }

        .form-css select{
            padding: 5px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid lavender;        
        }

        .form-css option{
            font-family: 'Noto Sans', sans-serif;
    
        }

        .form-css lable{
            font-family: 'Noto Sans', sans-serif;
            font-size: 12px;
        }

        .form-css textarea{
            padding: 5px;
            background-color: none;
            outline: 0;
            border-radius: 5px;
            border: 1px solid lavender;
            height: 50px;
        }

        .elt-logo{
            width: 37px;
            height: 35px;
            margin-right: 10px;
        }

        .token-alert{
            background-color: lavender;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;

        }
        .token-alert a{
            background-color: ghostwhite;
            border-radius: 20px;
            padding: 5px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
            color: blue;
        }
